.Card {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Card img {
    width: 300px;

}

.marginTopBottom-20px {
    margin-top: 20px;
    margin-bottom:20px;
}