* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    max-width:100%;
}

.marginTopBottom-80px {
    margin: 80px 0px;
}

.marginTopBottom-100px {
    margin: 100px 0px;
}



.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.midHeading {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 4.7rem;
    font-weight: 800;
    width: 800px;
    text-align: center;
}

.marginTopBottom-7px {
    margin: 7px 0px;
}

.marginTop-20px {
    margin-top: 20px;
}

.width-550 {
    width: 550px;
}

.coolAppText {
    text-align: center;
    font-size: 1.2rem;
    color: #6F6B78;
    font-weight: 500;
}

.getStartedBtn button{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    padding: 12px 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;

    background-color: #2E2E2E;
    color: white;
}


.smallHeaderText {
    color: #2E2E2E;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 10px;
}

.width-150px-height-30px {
    width: 150px;
    height: 30px;
}

.position-relative {
    position: relative;
}

.face1 {
    position : absolute;
    right: 0;
    bottom: -10px;

}

.face2 {
    position : absolute;
    right: 25px;
    bottom: -10px;

}
 
.face3 {
    position : absolute;
    right: 50px;
    bottom: -10px;
}


.face4 {
    position : absolute;
    right: 75px;
    bottom: -10px;
}

.face5 {
    position : absolute;
    right: 100px;
    bottom: -10px;
} 


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (max-width: 600px) {
    .midHeading {
        font-size: 2.2rem;
        width: 300px;
    }

    .width-550 {
        /* width: 350px; */
    }
  }
